# source_to_raw

In [45]:
# Import packages & setting up a connection to the ENTSOE API Client
import pandas as pd
from entsoe import EntsoePandasClient
client = EntsoePandasClient(api_key = "688d3008-48f8-4719-b811-28ae09d84db8")

# Maybe we can create a function to fetch new date everytime the script is initialized
start_date = pd.Timestamp("20230101", tz = "Europe/Stockholm")
end_date = pd.Timestamp("20231231", tz = "Europe/Stockholm")

# Also maybe we can create a list of countries and loop through the list to fetch data for each country
country_code = "SE"
# country_code_from = ""
# country_code_to = ""
type_marketagreement_type = "A01"
contract_marketagreement_type = "A01"

In [46]:
# Extracting the Load/Consumption Data using EntsoePandasClient
df_load = client.query_load_and_forecast(
    country_code,
    start = start_date,
    end = end_date
)

In [47]:
# Evaluate the Load/Consumption Data(Frame)
df_load.keys()
df_load.info()
df_load.isnull().sum()
df_load.tail()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 900 entries, 2023-01-01 00:00:00+01:00 to 2023-02-07 11:00:00+01:00
Freq: 60T
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Forecasted Load  900 non-null    float64
 1   Actual Load      900 non-null    float64
dtypes: float64(2)
memory usage: 21.1 KB

                           Forecasted Load  Actual Load
2023-02-07 07:00:00+01:00          19748.0      19859.0
2023-02-07 08:00:00+01:00          19925.0      20141.0
2023-02-07 09:00:00+01:00          19839.0      20037.0
2023-02-07 10:00:00+01:00          19718.0      19582.0
2023-02-07 11:00:00+01:00          19533.0      19196.0

In [48]:
# Extracting the Generation/Production Data using EntsoePandasClient
df_generation = client.query_generation(
    country_code,
    start = start_date,
    end = end_date,
    psr_type = None
)

In [49]:
# Evaluate the Generation/Production Data(Frame)
df_generation.keys()
df_generation.info()
df_generation.isnull().sum()
df_generation.tail()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 900 entries, 2023-01-01 00:00:00+01:00 to 2023-02-07 11:00:00+01:00
Freq: 60T
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Fossil Gas             900 non-null    float64
 1   Hydro Water Reservoir  900 non-null    float64
 2   Nuclear                900 non-null    float64
 3   Other                  900 non-null    float64
 4   Solar                  900 non-null    float64
 5   Wind Onshore           900 non-null    float64
dtypes: float64(6)
memory usage: 49.2 KB

,Fossil Gas,Hydro Water Reservoir,Nuclear,Other,Solar,Wind Onshore
2023-02-07 07:00:00+01:00,0.0,8626.0,5792.0,1341.0,0.0,7221.0
2023-02-07 08:00:00+01:00,0.0,8897.0,5792.0,1376.0,3.0,7086.0
2023-02-07 09:00:00+01:00,0.0,9087.0,5792.0,1375.0,15.0,6834.0
2023-02-07 10:00:00+01:00,0.0,9198.0,5792.0,1357.0,40.0,6675.0
2023-02-07 11:00:00+01:00,0.0,9412.0,5793.0,1405.0,60.0,6729.0

In [53]:
# Create a Local Reference
import os
current_dir =  os.path.abspath("")
parent_dir = os.path.abspath(current_dir + "/../")
print(current_dir)
print(parent_dir)

c:\Users\SantiTaweesamarn\Desktop\My Desktop\Data Engineering 2022\Module - Graduation Project\examproject\1. source_to_raw
c:\Users\SantiTaweesamarn\Desktop\My Desktop\Data Engineering 2022\Module - Graduation Project\examproject

In [52]:
# Load the Data into .csv & .json
df_load.to_csv(f"{parent_dir}/data/test/{country_code}_load.csv")
df_generation.to_csv(f"{parent_dir}/data/test/{country_code}_generation.csv")

df_load.to_json(f"{parent_dir}/data/test/{country_code}_load.json", indent = 4, orient = "records")
df_generation.to_json(f"{parent_dir}/data/test/{country_code}_generation.json", indent = 4, orient = "records")